[build]
  base    = ""
  command = "npm install && npm run build --workspace=apps/web"
  publish = "apps/web/dist"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from   = "/*"
  to     = "/index.html"
  status = 200
